---
---

@charset "utf-8";



// Our variables
$base-font-family: 'Lato', sans-serif;
$base-font-size:   36px;
$base-font-weight: 400;
$base-line-height: 1.5;

$spacing-unit:     27px;

$text-color:       #fff;
$background-color: {{site['Background Color']}};
$accent-color:     {{site['Accent Color 1']}};

// Width of the content area
$content-width:    600px;

$on-palm:          600px;
$on-laptop:        850px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"mixins",
        "base",
        "layout"
;
