---
---

@charset "utf-8";



// Our variables
$base-font-family: 'Lato', sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$base-line-height: 36px;
$small-font-size: 15px;

$header-font: Antarctican Headline, "Antarctican Headline", sans-serif;
$h1-desktop: 120px;
$h2-desktop: 36px;
$h1-mobile: 72px;
$h2-mobile: 27px;

$spacing-unit:     27px;
$mobile-margin:    22.5px;
$desktop-margin:    36px;

$text-color:       #000;
$background-color: {{site['Background Color']}};
$accent-color:     {{site['Accent Color 1']}};
$accent-color-2:     {{site['Accent Color 2']}};
$accent-color-3:     {{site['Accent Color 3']}};
$banner-color:     {{site['Banner Color']}};

// Width of the content area
$content-width:    600px;
$menu-width:	132px;
$menu-height:	90px;

$on-tiny:          350px;
$on-palm:          770px;
$on-laptop:        1167px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"mixins",
        "base",
        "layout"
;
