<a class="nav-trigger" href="javascript:void(0)" onclick="doingClick();">
		{% include menu-icon.html %}
</a>
<nav class="site-nav">
	<div class="page-links">
		 {% assign sorted_pages = site.pages | sort:"position" %}
		 {% for link_page in sorted_pages %}
		 	{% assign dir_trim = link_page.dir | split: "/" %}
		 	{% assign root_dir = dir_trim[1] | prepend:"/" | append:"/" %}
		    {% if link_page.url == root_dir and link_page.title %}
		    	{% if root_dir == page.dir %}
		    		{% assign class = " current" %}
		    	{% else %}
		    		{% assign class = "" %}
		    	{% endif %}
		    	<div class="link-group {{link_page.title | slugify | append: '-group'}}">
			    	<a class="page-link{{class}}" href="{{link_page.url}}">{{link_page.title}}</a>
			    	{% assign subpages = site.pages | sort:"position" | where: "dir", root_dir %}
			    	<div class="subpages">
				    	{% for subpage in subpages %}
				    		{% unless subpage.url == root_dir %}
				    		{% assign slug = subpage.title | slugify | prepend:"#" %}
				    		{% assign final_path = link_page.url | append: slug %}
				    		<a class="page-link sub" href="{{final_path}}">{{subpage.title}}</a>
				    		{% endunless %}
				    	{% endfor %}
			    	</div>
			    </div>
		  	{% endif %}
		 {% endfor %}
		 {% include social-media.html %}
	</div>
</nav>