<div class="social-media">
	{% if site['Instagram URL'] %}
		<a href="{{site['Instagram URL']}}">
			<img src="/uploads/instagram-icon.svg" alt="Instagram" class="social-icon">
		</a>
	{% endif %}
	{% if site['Facebook URL'] %}
		<a href="{{site['Facebook URL']}}">
			<img src="/uploads/facebook-icon.svg" alt="Facebook" class="social-icon">
		</a>
	{% endif %}
	{% if site['Twitter URL'] %}
		<a href="{{site['Twitter URL']}}">
			<img src="/uploads/instagram-icon.svg" alt="Twitter" class="social-icon">
		</a>
	{% endif %}
</div>