@include font-face("Antarctican Headline", "/fonts/AntarcticanHeadline-Medium");

@include simple-animation(bob, transform, translateY(0), translateY(3px));

body {
    background-color: $background-color;
}

/*------Defaults-------*/

%absolute-reset {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
%full-screen {
    width: 100%;
    height: 100%;
}
%flex-setup{
    @include value-prefix(display, flex, webkit moz ms o);
    @include prefix(flex-flow, column nowrap, webkit moz ms o);
    @include prefix(align-content, flex-start, webkit moz ms o);
}
%flex-setup-row{
    @include value-prefix(display, flex, webkit moz ms o);
    @include prefix(flex-flow, row wrap, webkit moz ms o);
    @include prefix(justify-content, space-between, webkit moz ms o);
}

%padding-default{
    padding: $desktop-margin 4*$mobile-margin;
    @include media-query($on-laptop){
        padding: $desktop-margin 2*$desktop-margin;
    }
    @include media-query($on-palm){
        padding: $mobile-margin $desktop-margin;
    }
    @include media-query($on-tiny) {
        padding: $mobile-margin;
    }
}

%padding-plus{
&:nth-child(2) {
        padding: 2*$desktop-margin 4*$mobile-margin $desktop-margin 4*$mobile-margin;
        @include media-query($on-laptop){
            padding: 2*$desktop-margin 2*$desktop-margin $desktop-margin 2*$desktop-margin;
        }
        @include media-query($on-palm){
            padding: 2*$mobile-margin $desktop-margin $mobile-margin $desktop-margin;
        }
        @include media-query($on-tiny) {
            padding: 2*$mobile-margin $mobile-margin $mobile-margin $mobile-margin;
        }
    }
    &:last-child {
        padding: $desktop-margin 4*$mobile-margin 2*$desktop-margin 4*$mobile-margin;
        @include media-query($on-laptop){
            padding: $desktop-margin 2*$desktop-margin 2*$desktop-margin 2*$desktop-margin;
        }
        @include media-query($on-palm){
            padding: $mobile-margin $desktop-margin 2*$mobile-margin $desktop-margin;
        }
        @include media-query($on-tiny) {
            padding: $mobile-margin $mobile-margin 2*$mobile-margin $mobile-margin;
        }
    }
}
%padding-first-last{
&:first-child:not(header) {
        padding: 2*$desktop-margin 4*$mobile-margin $desktop-margin 4*$mobile-margin;
        @include media-query($on-laptop){
            padding: 2*$desktop-margin 2*$desktop-margin $desktop-margin 2*$desktop-margin;
        }
        @include media-query($on-palm){
            padding: 2*$mobile-margin $desktop-margin $mobile-margin $desktop-margin;
        }
        @include media-query($on-tiny) {
            padding: 2*$mobile-margin $mobile-margin $mobile-margin $mobile-margin;
        }
        &:not(:last-child):not(section):not(header){
            padding-bottom:0;
        }
    }
    &:last-child {
        padding: $desktop-margin 4*$mobile-margin 2*$desktop-margin 4*$mobile-margin;
        @include media-query($on-laptop){
            padding: $desktop-margin 2*$desktop-margin 2*$desktop-margin 2*$desktop-margin;
        }
        @include media-query($on-palm){
            padding: $mobile-margin $desktop-margin 2*$mobile-margin $desktop-margin;
        }
        @include media-query($on-tiny) {
            padding: $mobile-margin $mobile-margin 2*$mobile-margin $mobile-margin;
        }
        &:not(:first-child):not(section):not(header){
            padding-top:0;
        }
    }
}
%padding-basic{
    padding: $desktop-margin (4*$mobile-margin - 18px);
    @include media-query($on-laptop){
        padding: $desktop-margin $desktop-margin;
    }
    @include media-query($on-palm){
        padding: $mobile-margin 18px;
    }
    @include media-query($on-tiny){
        padding: $mobile-margin 7.5px;
    }
}

%padding-horizontal{
    @extend %padding-default;
    padding-top: 0;
    padding-bottom: 0;
}

%padding-vertical{
    @extend %padding-default;
    padding-left: 0;
    padding-right: 0;
}

%extend-right{
    margin-left: -18px;
    margin-right: -4*$mobile-margin;
    padding-right: 4*$mobile-margin;
    min-width: calc(100% + #{18px + 4*$mobile-margin});
}

%padding-button{
    padding: 12px;
    @include media-query($on-palm) {
        padding: 9px 12px;
    }
}

%padding-breakout-oneside{
    margin-right: -4*$mobile-margin;
    min-width: calc(100% + #{4*$mobile-margin});
}
%padding-breakout-mobile{
    @include media-query($on-laptop){
        margin: 0 (-2*$desktop-margin);
        min-width: calc(100% + 4*#{$desktop-margin});
    }
    @include media-query($on-palm){
        margin: 0 (-$desktop-margin);
        min-width: calc(100% + 2*#{$desktop-margin});
    }
    @include media-query($on-tiny) {
        margin: 0 (-$mobile-margin);
        min-width: calc(100% + 2*#{$mobile-margin});
    }
}

%padding-breakout{
    margin: 0 (-4*$mobile-margin);
    min-width: calc(100% + 8*#{$mobile-margin});
    @extend %padding-breakout-mobile;
}

%vertical-rhythm{
    margin-bottom: $desktop-margin;
    @include media-query($on-palm){
        margin-bottom: $mobile-margin;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
%vertical-rhythm-top{
    margin-top: $desktop-margin;
    @include media-query($on-palm){
        margin-top: $mobile-margin;
    }
}

/*------Splash Page-------*/

.splash {
    @extend %absolute-reset;
    @extend %full-screen;
    @extend %flex-setup;
    @include prefix(justify-content, center, webkit moz ms o);
    @include prefix(align-items, center, webkit moz ms o);
    overflow: hidden;
    &.above {
        z-index: 50;
        background: #000;
        mix-blend-mode: darken;
        .site-logo {
            width: calc(100% - 145px);
            max-height: calc(100% - #{4*$mobile-margin});
            object-fit: contain;
            @include media-query($on-palm){
                width: calc(100% - 72px);
                max-height: 100%;
            }
        }
    }
    * {
        margin: $spacing-unit/2 $spacing-unit;
    }
    video {
        margin: 0;
        min-width: 100%;
        min-height: 40vw;
    }
    .site-logo {
        width: $content-width;
    }
    .coming-soon {
        color: $accent-color;
    }
}


.header-clone{
    position: fixed;
    top: 0;
    margin: $desktop-margin 0 0 4*$mobile-margin;
    display: none;
    max-width: 400px;
}

.home .subpage-links.post.news {
    padding-top: 18px;
}

.nav-buttons {
    @extend %flex-setup-row;
    margin: -9px !important;

    h2{
        margin: 9px !important;
        padding: 0 !important;
        @include prefix(flex, 1 0 20%, webkit moz ms o);
        &#contact {
            flex: 1 0 12%;
        }
        &#programs {
            flex: 1 0 15%;
        }

        @include media-query($on-laptop){
            @include prefix(flex, 1 0 40% !important, webkit moz ms o);
        }
        @include media-query($on-palm){
            font-size: 18px;
        }
    }

    h2.link a {
        margin: 0 !important; padding: 12px; min-width: auto; background-color: #000;

        &:hover {
            background-color: $accent-color-3;
        }
    }
}

/*------Universal Styles-------*/

p,ul,span {
    letter-spacing: 0.01em;
}
h1 {
    text-transform: uppercase;
    font-family: $header-font;
    font-size: $h1-desktop;
    line-height: 0.85;
    letter-spacing: -1px;
    
    @include media-query($on-palm) {
        font-size: $h1-mobile;
        letter-spacing: 0;
    }

    &.smaller-header {
        font-size: $h1-desktop*(2/3);
        @include media-query($on-palm) {
            font-size: $h1-mobile*(2/3);
        }
    }
}

#mc_embed_signup .sub_button {
    text-transform: uppercase;
    font-size: $h2-desktop;
    font-weight: 700;
    line-height: 45px;
    @include media-query($on-palm) {
        font-size: $h2-mobile;
        line-height: 36px;
    }
}

h2, #mc_embed_signup .sub_div {
    text-transform: uppercase;
    font-size: $h2-desktop;
    font-weight: 700;
    line-height: 45px;
    @include media-query($on-palm) {
        font-size: $h2-mobile;
        line-height: 36px;
    }

    a, a:link, a:visited, .sub_button {
        display: block;
        background-color: $accent-color-3;
        color: #fff;
        text-align: center;
        min-width: 100%;
        letter-spacing: 0.5px;
        @extend %padding-button;
        margin-bottom: $desktop-margin !important;
        @include media-query($on-palm){
            margin-bottom: $mobile-margin !important;
        }
    }

    a:hover, .sub_button:hover {
        background-color: $accent-color-2;
    }

    &:first-child a {
        margin-top: 12px;
    }
}

b, strong {
    font-weight: 700;
}
.fixed {
    position: fixed;
}

img {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

/*------Navigation Bar-------*/

.site-header{
    @extend %absolute-reset;
    position:fixed;
    @extend %flex-setup;
    width: $menu-width;
    height: 100%;
    background-color: $background-color;
    z-index: 100;
    overflow: hidden;

    @include prefix(transition, width 0.125s ease, webkit moz mx o);

    @include media-query($on-palm) {
        width: 100% !important;
        min-width: 275px;
        height: $menu-height;
        @include prefix(flex-flow, row wrap, webkit moz ms o);
        @include prefix(justify-content, space-between, webkit moz ms o);
        @include prefix(transition, height 0.125s ease, webkit moz mx o);
    }

    a {
        display: block;
    }
    .site-title{
        margin: $mobile-margin 0 $desktop-margin 12.5793px;
        .site-logo-vert{
            width: 98px;
        }
        .site-logo{
            height: 63px;
            width: auto;
            display: none;
        }

        @include media-query($on-palm) {
            margin: 14.5515px 18px 0 18px;
            .site-logo-vert{
                display: none;
            }
            .site-logo{
                display: block;
            }
        }
    }

    .nav-trigger, .heart-trigger {
        margin-left: $desktop-margin;
        max-height: 60px;
        &.heart {
            margin-top: auto;
            margin-bottom: $desktop-margin;
            @include media-query($on-palm){
                    margin: 18px 0 18px 18px;
            }
            .heart-text {
                @include prefix(transition, opacity 0.25s ease, webkit moz mx o);
                @extend %absolute-reset;
                top: auto;
                text-align: center;
                margin-bottom: $desktop-margin;
                color: $accent-color;
                font-size: $small-font-size;
                line-height: 0.8;
                opacity: 1;
                max-width: 132px;
                @include media-query($on-palm){
                    display: none;
                }
            }
            svg{
                @include prefix(transform, translateY(-$mobile-margin),webkit moz mx o);
                @include media-query($on-palm){
                    @include prefix(transform, translateY(0),webkit moz mx o);
                }
                path {
                    fill: #000;
                    @include prefix(transition, fill 0.25s ease, webkit moz mx o);
                }
            }
        }
        &.heart:hover {
            svg {
                path {
                    fill: $accent-color;
                }
            }
        }
        .nav-icon{
            width: 60px;
            height: auto;
            .cls-1 {
                stroke: $accent-color;
            }
            * {
                @include prefix(transition, transform 0.125s, webkit moz mx o);
            }
            #line1 {
                @include prefix(transform-origin, center center, webkit moz mx o);
                @include prefix(transform, translate(0,6px), webkit moz mx o);
            }
            #line2 {
                @include prefix(transform-origin, center center, webkit moz mx o);
                @include prefix(transform, translate(0,-6px), webkit moz mx o);
            }
        }

        @include media-query($on-palm) {
            margin: 18px 18px 18px 0;
            .nav-icon{
                width: 54px;
                height: auto;

                .cls-1 {
                    stroke-width: 2px;
                }
            }
            &.heart {
                @include prefix(order, -1, webkit moz mx o);
            }
        }        
    }
    .site-nav {

        @include media-query($on-palm){
            width: 100% !important;
        }
        .page-links{
            margin-left: $desktop-margin;
            margin-top: 18px;
            @extend %flex-setup;
            width: 450px;
            opacity: 0;
            pointer-events: none;
            @include prefix(transition, opacity 0.125s ease, webkit moz mx o);

            > * {
                max-height: 45px;
            }

            @include media-query($on-palm){
                margin: 0;
                padding: 0 18px 18px 18px;
                text-align: center;
                @include prefix(align-items, center, webkit moz ms o);
                width: 100% !important;
            }

            .link-group{
                @include value-prefix(display, flex, webkit moz ms o);
                @include prefix(flex-flow, row nowrap, webkit moz ms o);
            }
            .page-link{
                position: relative;
                color: #fff;
                white-space: nowrap;
                font-size: 22.5px;
                text-transform: uppercase;
                line-height: 1;
                padding-bottom: 18px;
                min-width: 200px;

                @include media-query($on-palm){
                    font-size: $h2-mobile;
                    padding-bottom: $mobile-margin;
                    min-width: 0;
                }

                @include prefix(transition, opacity 0.125s ease, webkit moz mx o);

                &.current {
                    color: $accent-color;
                }
                &.sub{
                    font-size: $small-font-size;
                }
            }

            .subpages {
                position: relative;
                opacity: 0;
                pointer-events: none;
                @include media-query($on-palm){
                    display: none;
                }
            }

            .social-media {
                @extend %flex-setup-row;
                @include prefix(justify-content, flex-start, webkit moz ms o);
                width: 100%;
                .social-icon{
                    margin-right: 9px;
                    width: 24px;
                    height: auto;
                    vertical-align: text-top;
                }

                @include media-query($on-palm){
                    @include prefix(justify-content, center, webkit moz ms o);
                    .social-icon{
                        margin-right: 4.5px;
                        margin-left: 4.5px;
                        width: 28px;
                        height: auto;
                    }

                }
            }
        }
    }
    &.selected {
        width: 240px;

        .nav-trigger {
            .nav-icon{
                #line1 {
                    @include prefix(transform, translate(0,0px) rotate(45deg), webkit moz mx o);
                }
                #line2 {
                    @include prefix(transform, translate(0,0px) rotate(-45deg), webkit moz mx o);
                }
            }
        }

        .site-nav{
            .page-links{
                pointer-events: all;
                opacity: 1;
            }
        }

        @include media-query($on-palm) {
            width: 100%;
            height: 100%;
        }
    }
}

/*------Announcement Banner-------*/

.announcement-banner{
    @extend %padding-default;
    padding-top: $mobile-margin;
    padding-bottom: $mobile-margin;
    line-height: $mobile-margin;
    background-color: $banner-color;
    color: white;

    @include media-query($on-palm){
        font-size: $small-font-size;
        padding: 12px 18px 15px 18px;
    }
}

/*------Scroll Arrow-------*/

.scroll-arrow {
    @extend %absolute-reset;
    left: auto;
    bottom: auto;
    @extend %padding-default;
    z-index: 200;
    @include prefix(transition, opacity 0.5s ease, webkit moz ms o);

    @include media-query($on-palm) {
        display: none;
    }
    .arrow-icon{
        width: 60px;
        height: auto;
        polyline {
            @include prefix(animation, bob 0.5s ease-in-out infinite alternate, webkit moz ms o);
        }
        circle {
            display: none;
        }
        .cls-1 {
            stroke: $accent-color;
        }
    }
}

/*------Slideshow-------*/

.slideshow {

    position: relative;
    background-color: #000;
    padding-bottom: 72px;
    @include media-query($on-palm){
        padding-bottom: 36px;
    }
    .slideshow-carousel {
        position: relative;
        @include value-prefix(display, flex, webkit moz ms o);
        @include prefix(flex-flow, row nowrap, webkit moz ms o);
        @include prefix(transition, transform 0.5s ease, webkit moz ms o);
        @include media-query($on-palm){
            min-height: 50vh;
        }

        img {
            min-width: 100%;
            object-fit: cover;
            @include media-query($on-palm){
                object-position: 20%;
                @include prefix(transition, object-position 10s linear, webkit moz ms o);
                &.focused{
                    object-position: 80%;
                }
            }
        }
    }
    .slideshow-progress {
        @extend %absolute-reset;
        height: 0;
        z-index: 75;
        text-align: center;
        .dot {
              height: 12px;
              width: 12px;
              margin:2px;
              background-color: $accent-color;
              opacity: 0.4;
              border-radius: 50%;
              display: inline-block;
              &.focused {
                opacity: 1;
              }
        }
    }
}

/*------Wrapper Styles-------*/

.wrapper {
    @extend %absolute-reset;
    left: auto;
    display: block;
    width: calc(100% - #{$menu-width});
    min-height: 100%;
    @include value-prefix(height, fit-content, webkit);
    background-color: $accent-color;
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    @include media-query($on-palm) {
        left: 0;
        margin-top: $menu-height;
        min-width: 100%;
        min-height: 0;
        height: calc(100% - #{$menu-height});
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &.home .slideshow {
        @include media-query($on-palm){
            max-height: 70vw;
        }
    }

/*------Header Styles-------*/

    .post-header,.page-header {
        position: relative;
        @extend %flex-setup-row;
        @include prefix(flex-flow, row nowrap, webkit moz ms o);
        @include prefix(align-items, center, webkit moz ms o);
        h1 {
            @extend %padding-default;
        }
    }

    .page-header {
        background-color: #000;
        color: #fff;
        z-index: 50;

        h2 a {
            margin-bottom: 0 !important;
        }

        h1:not(:last-child){
            padding-right: $mobile-margin;
        }

        .register{
            @include prefix(align-self, flex-end, webkit moz ms o);
            @include prefix(transform, translateY(-8px), webkit moz ms o);
            @include prefix(flex, 0 1 32%, webkit moz ms o);
            @extend %padding-default;
            padding-left: $mobile-margin;

            .register-link{
                color: #000;
                background-color: $accent-color;

                @include media-query($on-laptop){
                    font-size: $h2-mobile;
                }
            }
            .register-link:hover{
                background-color: $accent-color-2;
            }
        }
        .page-title {
            @include prefix(flex, 1, webkit moz ms o);
        }
        .post-date {
            @extend %padding-default;
            padding-left: 0;
            color: $accent-color;
            @include prefix(align-self, flex-end, webkit moz ms o);
            @include prefix(flex, 0 200px, webkit moz ms o);
            text-align: right;
            @include media-query($on-laptop){
                text-align: left;
                padding-left: 2*$desktop-margin;
                padding-top:0;
                @include prefix(flex, 1 0 100%, webkit moz ms o);
            }
            @include media-query($on-palm){
                padding-left: $desktop-margin;
            }
            @include media-query($on-tiny){
                padding-left: $mobile-margin;
            }
        }

        @include media-query($on-palm){
            @include prefix(flex-flow, column nowrap, webkit moz ms o);
            @include prefix(align-items, flex-start, webkit moz ms o);

            h1:not(.page-title){
                padding-bottom: 0;
            }

            .register{
                width: 100%;
                top: 100%;
                @include prefix(transform, translateY(0), webkit moz ms o);
                padding:0;
                 .register-link{
                    color: #fff;
                    background-color: $accent-color-3;
                }
            }
        }
    }

    .slideshow+.page-header {
        background: linear-gradient(0deg, black 50%, transparent 100%);
        color: #fff;
        position: absolute;
        transform: translateY(-100%);
        min-width: 100%;    }

/*------Post Styles-------*/

    .post {

        h2 a {
            font-size: 27px;
        }

        img{
            @include media-query($on-palm){
                max-height: 450px;
            }
        }
        & > *:not(img) {
            @extend %padding-horizontal;
            @extend %padding-first-last;

            &.post-section{
                @extend %padding-default;
                @extend %padding-first-last;

                @extend %flex-setup-row;
                @include prefix(align-items, flex-start, webkit moz ms o);

                h1 {
                    width: 420px;
                    margin-bottom: 0;
                    padding-right: 36px;
                    @include prefix(align-self, flex-start, webkit moz ms o);

                    @include media-query($on-laptop) {
                        @include prefix(transform, none !important, webkit moz ms o);
                        width: 100%;
                        margin-bottom: 18px;
                        padding-right: 0;
                    }
                }

                .section-content {
                    @include prefix(flex, 1 0 50%, webkit moz ms o);
                    img {
                        @extend %padding-breakout-oneside;
                        @extend %padding-breakout-mobile;
                        @extend %vertical-rhythm;
                    }
                }
            }

            & > img {
                @extend %padding-breakout;
                @extend %vertical-rhythm;
            }
        }

        * {
            @extend %vertical-rhythm;
        }
        li {
            margin-bottom: 0;
        }
        article, section, header, h2 {
            margin-bottom: 0;
            width: 100%;
        }

        h2 + h2 {
            @extend %vertical-rhythm-top;
        }

        *:not(img):not(header) + img {
            display: inline-block;
            padding-top: $desktop-margin;
            @include media-query($on-palm){
                padding-top: $mobile-margin;
            }
        }

        img + *:not(img):not(h2) {
            display: inline-block;
            padding-top: $desktop-margin;
            @include media-query($on-palm){
                padding-top: $mobile-margin;
            }
        }

        .post-header { 
            padding:0;
            background-color: $accent-color-2;

            &.hidden {
                display: none;
            }
        }

        .pagination {
            width: 100%;
            text-align: center;
            padding-top: 18px !important;
            font-size: $h2-mobile;
            .arrow {
                font-size: 36px;
            }
        }

/*------Subpage Links Styles-------*/

        &.subpage-links {
            position: relative;
            @extend %flex-setup-row;
            padding: $desktop-margin;
            @include media-query(420px){
                padding:0;
            }

            .subpage-link {
                @include prefix(flex, 1 0 25%, webkit moz ms o);
                position: relative;
                background-size: cover;
                background-position: center;
                padding: 0;
                color: #fff;
                margin: 18px;
                max-height: 360px;
                outline: solid 0px $accent-color-2;
                border: solid 0px $accent-color-2;
                @include prefix(transition, 0.125s ease-out, webkit moz ms o);

                overflow: hidden;
                min-width: 340px;
                @include media-query(420px){
                    min-width: 240px;
                    max-height: 240px;
                    margin: 0;
                    margin-top: 4.5px;
                }

                &:after{
                  content: '';
                  display: block;
                  padding-bottom: 100%;
                }

                &:hover {
                    outline: solid 9px $accent-color-2;
                    border: solid 9px $accent-color-2;
                    div.subpage-wrapper{
                        padding: 27px;
                    }
                    .subpage-date {
                        color: $accent-color;
                    }
                    @include media-query(420px){
                        outline: solid 0px $accent-color-2;
                        border: solid 0px $accent-color-2;
                    }
                }

                div.subpage-wrapper{
                    @include prefix(transition, padding 0.125s ease-out, webkit moz ms o);
                    position: absolute;
                    bottom:0;
                    padding: 36px;
                    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75) 60%, rgba(0,0,0,1));
                    min-width: 100%;
                    @include media-query($on-tiny){
                        padding: $mobile-margin;
                    }
                }

                h1.subpage-title {
                    @include prefix(transition, color 0.125s ease-out, webkit moz ms o);
                    font-size: 72px;
                    margin: 0;
                    padding: 0;
                    @include media-query($on-palm){
                        font-size: 45px;
                    }
                }

                .subpage-description {
                    @include prefix(transition, max-height 0.125s ease-out, webkit moz ms o);
                    padding-top: 9px;
                    max-height: 0;
                    overflow: hidden;
                    font-size: $small-font-size;
                    line-height: $mobile-margin;
                    @include media-query(420px){
                        display: none;
                    }
                }
            }

        }

/*------Section Specific Styles-------*/

        #values+.section-content, #volunteer-job-descriptions+.section-content, #frequently-asked-questions+.section-content, #group-lessons-schedule+.section-content{
            a, a:link {
                color: $accent-color;
            }
            a:hover {
                color: $accent-color-2;
            }
            strong {
                color: $accent-color;
            }
            & > * {
                letter-spacing: 0.01em;
                background-color: #000;
                color: #fff;
                padding: $desktop-margin;
                @extend %padding-button;
                width: auto;
                @extend %padding-breakout-mobile;
                @include media-query($on-laptop){
                    margin-right: 0;
                    margin-left: 0;
                    min-width: auto;
                    margin-bottom: $desktop-margin;
                }
                @include media-query($on-palm){
                    padding: $mobile-margin $desktop-margin;
                    margin-bottom: 0;
                    margin-right: -$desktop-margin;
                    margin-left: -$desktop-margin;

                    &:last-child {
                        padding-bottom: 2*$mobile-margin;
                    }
                }
                @include media-query($on-tiny){
                    padding-left: $mobile-margin;
                    margin-left: -$mobile-margin;
                    margin-right: -$mobile-margin;
                }
            }
            *:not(h2) + *:not(h2) {
                padding-top: 0;
                margin-bottom: 0;
            }
            & > h2 {
                color: $accent-color-2;
                margin-bottom: 0;
                padding-bottom: 18px;

                a, a:link, a:visited, a:hover {
                    color: #fff;
                }

                & + *:not(h2) {
                    padding-top: 0;
                    margin-bottom: 0;
                }

                & + h2 a{
                    margin-bottom: $desktop-margin;
                    margin-top: $desktop-margin;
                }

                &:not(:first-child) {
                    margin-top: $desktop-margin;
                    @include media-query($on-palm){
                        margin-top: 0;
                    }
                }

                a {
                    margin: -$desktop-margin !important;
                    @include media-query($on-palm){
                        margin: 0 !important;
                    }
                }
            }
            *:last-child {
                margin-bottom: 0;
            }
        }
        #staff+.section-content img, #instructors+.section-content img {
            max-height: 400px;
            min-height: 270px;
        }
        #instructors+.section-content img {
            object-position: 50% 25%;
        }
        #staff+.section-content img {
            object-position: 50% 15%;
        }

    }
    @include media-query($on-palm){
        #mission-vision-values > section:last-child {
            padding-bottom: 0;
        }
    }
    #staff-board > img{
        @include media-query($on-laptop){
            max-height: 500px;
        }
    }

    #wish-list+.section-content, #gear-loan{
            li::before{
                content: url("/uploads/lightningbolt.svg");
                display: block;
                width: 22px;
                margin-left: -36px;
                margin-right: 18px;
                vertical-align: middle;
                float: left;
            }

            li {
                text-transform: capitalize;
                margin-left: 36px;
                margin-bottom: 18px;
                margin-top: 18px;
                line-height: 1.5;
            }
        }

    .news.post.subpage-links {
        .subpage-link {
            @include prefix(flex, 1 0 100%, webkit moz ms o);
            margin: 18px 0;
            @include media-query(420px){
                margin: 0;
                margin-top: 4.5px;
            }
            .subpage-wrapper {
                @include value-prefix(display, flex, webkit moz ms o);
                @include prefix(flex-flow, row wrap, webkit moz ms o);
                max-height: 100%;
                word-break: break-word;

                .subpage-date {
                    margin-right: $desktop-margin;
                    margin-bottom: 0;
                    font-size: 104px;
                    @include media-query(420px){
                        font-size: 81px;
                    }
                    @include media-query(420px){
                        font-size: 72px;
                        @include prefix(flex, 1 0 100%, webkit moz ms o);
                    }
                }
                .subpage-title {
                    overflow: hidden;
                    max-height: 180px;
                    @include prefix(flex, 1, webkit moz ms o);
                    @include media-query(420px){
                        max-height: 81px;
                        font-size: 22.5px;
                        line-height: 27px;
                    }
                }
                .subpage-description {
                    @include prefix(flex, 1 0 100%, webkit moz ms o);
                }
            }
        }
    }
    &.blog-post {

        .scroll-arrow {
            display: none;
        }

        .page-header {
            @include prefix(flex-flow, row wrap, webkit moz ms o);
            h1{
                font-size: 90px;
                @include media-query($on-palm){
                    font-size: $h1-mobile;
                }
            }
        }
        .slideshow-carousel {
            max-height: 520px;
        }

        @include media-query(420px){
            .page-title {
                font-size: $h2-mobile;
                font-family: $base-font-family;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }

    .cls-1 {
        stroke-width: 2px;
    }

}