<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  	<!-- NAVIGATION -->
    {% include header.html %}

    {% assign path_split = page.path | split: "/" %}
    {% assign is_post = path_split[0] | strip %}
    {% if is_post == "_posts" %}
    	{% assign class = " blog-post" %}
    {% else %}
    	{% assign class = "" %}
    {% endif %}

    <main class="wrapper{{class}}">
    	<!--{% assign has_banner = site['Announcement Banner Text'] | compact | join: "" | strip %}
		{% unless has_banner == "" %}
		<! ANNOUNCEMENT BANNER >
		{% include announcement.html %}
		{% endunless %} -->

		{% include slideshow.html %}

		<!-- PAGE HEADER -->
		<header class="page-header">
		  <h1 class="page-title">{{ page.title }}</h1>
		  {% assign headerbutton =  page['Header Button']%}
		  {% assign has_headerbutton = headerbutton['Text'] | compact | join: "" | strip %}
		  {% unless has_headerbutton == "" %}
		  <h2 class='register'>
		  	<a class='register-link' href="{{headerbutton['URL']}}" target="_BLANK">{{headerbutton['Text']}}</a>
		  </h2>
		  {% endunless %}
		  {% if is_post == "_posts" %}
		  <div class="post-date">
			{{page.date | date: "%b %d, %Y"}}
			</div>
			{% endif %}
		</header>

    	{{ content }}

    	{% include footer.html %}
	</main>

  </body>

</html>
