---
layout: default
---

<!-- PAGE CONTENT -->
{% assign has_content = content | compact | join: "" | strip %}
{% unless has_content == "" %}
	<article class="post" id="{{page.title | slugify}}">
      {% assign edited_content = content | markdownify | strip | replace: "<h1", "</div></section><section class='post-section'><h1 class='section-header'" | replace: "/h1>","/h1><div class='section-content'>" | replace: "<p><img", "<img" | replace_first: "</div></section>","</section>" %}
          {{ edited_content | replace: "></p>",">"}}
  </article>
<style type="text/css">
          .campaign {line-height: 125%; margin: 5px;}
          </style>
          <script
            language="javascript"
            src="https://riotri.us7.list-manage.com/generate-js/?u=9bc0ccfa28d3393612bd3e2a1&show=10&fid=64878"
            type="text/javascript"
          ></script>
{% endunless %}
