---
layout: default
---

<article class="post">

<!--   <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header> -->

  <div class="post-content">
  	{% include slideshow.html %}
    {{ content | replace: "<h1", "</section><section class='post-section'><h1" | replace: "/h1>", "/h1><div class='section-content'>" | replace: "p><img", "img" | replace: "<h2", "</div><div class='sub-section'><h2" | replace_first: "</div><div class='sub-section'><h2", "<div class='sub-section'><h2" }}
  </div>

</article>
